<div class="main-container">

      <div class="listing-main-container">

        <h1 class="listing-headline"><%= @pet.title %></h1>

        <div class="animal-summary">
          <div class="row"> <%=@pet.description%> </div>
        </div>

        <div class=" animal-photo-description flexbox">

          <div class="animal-photo inner-section">
            <%= cl_image_tag @pet.photo, id:"animal-main-photo", height: 300, width: 480, crop: :fill %>
            <!-- # , id: "animal-main-photo", height="200" %> -->
            <!-- <img src="" id="animal-main-photo" height="200" alt="<%=@pet.description%> à louer" /> -->
          </div>

          <div class="animal-description inner-section">
            <h2> Description </h2>
            <div class="row"> Nom: <%=@pet.name%> </div>
            <div class="row"> Espèce: <%=@pet.species%> </div>
            <div class="row"> Sexe: <%=@pet.gender%> </div>
            <div class="row"> Age: <%=@pet.age%> </div>
            <div class="row"> Caractère: <%=@pet.character%> </div>
            <div class="row"> Nourriture favorite: <%=@pet.favorite_food%> </div>
            <div class="row"> Instructions: <%=@pet.instructions%> </div>
          </div>

        </div>

        <div class="all-pet-reviews section">
          <h2> Commentaires </h2>
          <div class="pet-review">
          J'ai adoré passer une semaine avec <%=@pet.name%>. Il est très affectueux.
          </div>
          <div class="pet-review">
          <%=@pet.name%> est vraiment bien élevé. C'est un plaisir de se promener avec lui en ville.
          </div>
        </div>

        <div class="map-section section">
          <h2> Où retrouver <%=@pet.name%> ? </h2>
          <div id="map" data-markers="<%= @marker.to_json %>">
            Carte
          </div>
        </div>

      <div class="back-link">
        <%= link_to 'Retour', pets_path %>
      </div>

      </div>

      <div class="listing-sidebar">

        <div class="side-quote-bar">
          <% if @pet.availability %>
            <h2 > Réserver <%=@pet.name%> </h2>
            <%= simple_form_for [@pet, Booking.new] do |f| %>
              <%= f.input :start_date, as: :string, label:false, required: true, placeholder: 'Date de début', input_html: {class: "datepicker"} %>
              <%= f.input :end_date, as: :string, label:false, required: true, placeholder: 'Date de fin', input_html: {class: "datepicker"} %>
  <!--             171130 2 lignes suivantes conservees temporairement pour le cas ou l enregistrement des donnees collectees dans la base de donnees ne se ferait pas au format date. A supprimer si ok -->
  <!--             <%= f.input :start_date, label: 'Date de début' %>
              <%= f.input :end_date, label: 'Date de fin' %> -->
              <%= f.submit "Réserver", class: "btn btn-dec" %>
            <% end %>
            <% else %>
              <h2><%= @pet.name %> n'est pas disponible !</h2>
              <%= link_to "Chercher un autre compagnon",pets_path, {class:"btn-dec"} %>
            <% end %>
        </div>

        <div class="booking-details side-section">
          <h2> Détails pratiques </h2>
          <div class="row"> Adresse: <%=@pet.address%> </div>
          <div class="row"> Prix: <%=@pet.price%> euros / jour </div>
        </div>

        <div class="owner-presentation side-section">
          <h2> A propos du propriétaire </h2>
          <div class="row"><%= @pet.user.email  %></div>
        </div>

      </div>

</div>


