<div class="main-container">

      <div class="listing-main-container">

        <h1 class="listing-headline"><%= @pet.title %></h1>

        <div class="animal-summary">
          <div class="row"> <%=@pet.description%> </div>
        </div>

        <div class=" animal-photo-description flexbox">

          <div class="animal-photo inner-section">
            <img src="<%=@pet.picture%>" id="animal-main-photo" height="200" alt="<%=@pet.description%> à louer" />
          </div>

          <div class="animal-description inner-section">
            <h2> Description </h2>
            <div class="row"> Nom: <%=@pet.name%> </div>
            <div class="row"> Espèce: <%=@pet.species%> </div>
            <div class="row"> Sexe: <%=@pet.gender%> </div>
            <div class="row"> Age: <%=@pet.age%> </div>
            <div class="row"> Caractère: <%=@pet.character%> </div>
            <div class="row"> Nourriture favorite: <%=@pet.favorite_food%> </div>
            <div class="row"> Instructions: <%=@pet.instructions%> </div>
          </div>

        </div>

        <div class="all-pet-reviews section">
          <h2> Commentaires </h2>
          <div class="pet-review">
          J'ai adoré passer une semaine avec <%=@pet.name%>. Il est très affectueux.
          </div>
          <div class="pet-review">
          <%=@pet.name%> est vraiment bien élevé. C'est un plaisir de se promener avec lui en ville.
          </div>
        </div>

        <div class="map-section section">
          <h2> Où retrouver <%=@pet.name%> ? </h2>
          <div id="map">
            Carte
          </div>
        </div>

      <div class="back-link">
        <%= link_to 'Retour', pets_path %>
      </div>

      </div>

      <div class="listing-sidebar">

        <div class="side-quote-bar">
          <h2 > Réserver <%=@pet.name%> </h2>
          <%= simple_form_for(Pet.new) do |f| %>
            <%= f.input :name, label: 'Date de début' %>
            <%= f.input :name, label: 'Date de fin' %>
            <%= f.submit "Réserver", class: "btn btn-dec" %>
          <% end %>
        </div>

        <div class="booking-details side-section">
          <h2> Détails pratiques </h2>
          <div class="row"> Adresse: <%=@pet.address%> </div>
          <div class="row"> Prix: <%=@pet.price%> euros / jour </div>
        </div>

        <div class="owner-presentation side-section">
          <h2> A propos du propriétaire </h2>
          <div class="row">Nom du propriétaire</div>
          <p> Présentation du propriétaire </p>
        </div>

      </div>

</div>

<!-- Gmaps js: building the map -->
<script>
  function initMap() {
    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 52.5206, lng: 13.4098},
      scrollwheel: false,
      zoom: 8
    });
  }
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Gmaps JavaScript -->
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzER7O10ZOUp7FloJzMe2r8X1GIQhgt7Q&callback=initMap">
</script>


