<div class="dashboard-header-wrapper">
  <div class="container dashboard-header-container text-center">
    <div class="tabs">
      <a class="tab" id="tabresa1" href="#">
        <h3>Mes adoptions</h3>
      </a>
      <a class="tab" id="tabresa2" href="#">
        <h3>Mes demandes</h3>
      </a>
      <a class="tab active" id="tabpets" href="#">
        <h3>Mes animaux</h3>
      </a>
    </div>
  </div>
</div>

<div class="container hidden" id="resa1">
  <h1>Adoptions en cours</h1>
  <% @bookings_r.each do |booking| %>
    <% if (booking.end_date - Date.today).to_i < 0 %>
      <div class="adoption">
        <div class="photos" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path booking.pet.photo %>)")>
          <%= cl_image_tag booking.user.picture, class: "resa-avatar " %>
        </div>
        <div class="details text-center">
          <h2><i class="fa fa-envelope" aria-hidden="true"></i> </h2>
          <h3> <strong> <%= booking.pet.name %></strong> est en vacances chez </h3>
          <h3> <strong class="mail"> <%= booking.user.email %> </strong></h3>
        </div>
        <div class="time text-center">
          <h2> <i class="fa fa-calendar-check-o" aria-hidden="true"></i> </h2>
          <h3>Plus que <strong> <%= (Date.today - booking.end_date).to_i %> jours </strong> </h3>
          <h3> avant de le retrouver !!</h3>
        </div>
      </div>
    <% end %>
  <% end %>
  <h1>Adoptions passées</h1>
  <% @bookings_r.each do |booking| %>
    <% if (booking.end_date - Date.today).to_i >= 0 %>
      <div class="adoption">
        <div class="photos" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path booking.pet.photo %>)")>
          <%= cl_image_tag booking.user.picture, class: "resa-avatar " %>
        </div>
        <div class="details text-center">
          <h2><i class="fa fa-envelope" aria-hidden="true"></i> </h2>
          <h3> <strong> <%= booking.pet.name %></strong> était en vacances chez </h3>
          <h3> <strong class="mail"> <%= booking.user.email %> </strong></h3>
        </div>
        <div class="time text-center">
          <h2> <i class="fa fa-calendar-check-o" aria-hidden="true"></i> </h2>
          <h3>Il est resté <strong> <%= (booking.end_date - booking.start_date).to_i %> jours </strong> </h3>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

  <div class="container hidden" id="resa2">
    <% @bookings_o.each do |booking| %>
      <div class="resa">
        <%= cl_image_tag booking.user.picture, class: "resa-avatar" %>
        <div class="user-identity">
          <h3> <%= booking.user.email[0..15] %>... </h3>
          <p> <%= booking.start_date %> </p>
        </div>
        <div class="resa-details">
          <div class="resa-details-pet">
            <%= cl_image_tag booking.pet.photo, class: "pet-image-small" %>
          </div>
          <div class="resa-details-dates">
            <h3><%= booking.pet.name %></h3>
            <p><strong> <%= booking.start_date.strftime("%A, %b %d") %> <%= booking.end_date.strftime("%A, %b %d") %> </strong></p>
            <p><%= (booking.end_date - booking.start_date).to_i %> jours</p>
          </div>
        </div>
        <div class="resa-status">
          <% if (booking.end_date - Date.today).to_i < 0 %>
            <h3> Terminée </h3>
          <% elsif booking.validated %>
            <h3 class="validee"> Validée </h3>
          <% else %>
            <h3 class="attente"> En attente </h3>
          <% end %>
          <p>Prix total</p>
          <p><strong><%= booking.total_price %> €</strong></p>
        </div>
        <div class="resa-actions">
          <% unless booking.validated %>
                <div class="btn-validate">
                <%= link_to "valider", accept_path(booking.id), {method: :patch} %>
                </div>
                <div class="btn-decline">
                <%= link_to "refuser", booking_path(booking.id), {method: :delete} %>
                </div>
          <% end %>
        </div>
      </div>
    <% end %>
</div>

<div class="container" id="pets">
  <% @pets.each do |pet| %>
    <div class="pet">
      <div>
        <%= link_to pet_path(pet) do %>
          <%= cl_image_tag pet.photo, class: "pet-image" %>
        <% end %>
      </div>

      <div class='pet-identity'>
        <h3><%= pet.name %></h3>
        <p><%= pet.title %></p>
        <h4><%= pet.price %> €</h4>
      </div>
      <div class="pet-details">
        <p><%= pet.description %></p>
      </div>
      <ul class="list-inline pet-controls">
        <li>
          <%= link_to edit_pet_path(pet) do %>
            <i class="fa fa-pencil"></i>
          <% end %>
        <li>
        <li>
          <%= link_to pet_path(pet), :method => 'delete' do %>
            <i class="fa fa-trash-o"></i>
          <% end %>
        <li>
      </ul>
    </div>
  <% end %>
</div>
